[ req ]
default_bits        = 2048
distinguished_name  = req_distinguished_name
req_extensions      = req_ext
x509_extensions     = v3_ca # The extension for a self-signed cert

[ req_distinguished_name ]
countryName                 = Country Name (2 letter code)
countryName_default         = GR
stateOrProvinceName         = State or Province Name (full name)
stateOrProvinceName_default = Athens
localityName                = Locality Name (eg, city)
localityName_default        = Athens
organizationName            = Organization Name (eg, company)
organizationName_default    = aueb
commonName                  = Common Name (e.g. server FQDN or YOUR name)
commonName_default          = aueb.gr

[ req_ext ]
subjectAltName = @alt_names

[ v3_ca ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1   = aueb.gr
DNS.2   = www.aueb.gr
IP.1    = 127.0.0.1
