<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new Test</title>
    <link rel="stylesheet" href="/static/css/addTest_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-container">
            <button class="home-button" onclick="location.href='/portfolio/'">
                <img src="/static/home.png" alt="Home">
            </button>
            <div class="header-right">
                <button onclick="location.href='/profile/'">{{ username }}</button>
                <button onclick="location.href='/'">Logout</button>
            </div>
        </div>
    </header>
    <div class="main-container">
        <aside>
            <div class="logo-container">
                <img src="/static/logo.png" alt="Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="/portfolio/">My Tests</a></li>
                    <li><a href="/questions/">My Test Questions</a></li>
                    <li><a href="/professor-grades/">My Students Grades</a></li>
                </ul>
            </nav>
        </aside>
        <main>
            <section class="add_test">
                <h1>Add a new Test</h1>
                <form method="post">
                    {% csrf_token %}
                    
                    <div>
                        <h2>Test Details</h2>
                        {{ form.non_field_errors }}
                        <div>
                            <label for="id_test_name">Test Name:</label>
                            {{ form.test_name.errors }}
                            {{ form.test_name }}
                        </div>
                        <div>
                            <label for="id_level">Level:</label>
                            {{ form.level.errors }}
                            {{ form.level }}
                        </div>
                        <!-- <div>
                            <label for="id_age">Age:</label>
                            {{ form.age.errors }}
                            {{ form.age }}
                        </div> -->
                        <div>
                            <label for="id_type">Type:</label>
                            {{ form.type.errors }}
                            {{ form.type }}
                        </div>
                        <div>
                            <label for="id_questions_no">Number of Questions:</label>
                            {{ form.questions_no.errors }}
                            {{ form.questions_no }}
                        </div>
                        <div>
                            <label for="id_questions_dif">Difficulty:</label>
                            {{ form.questions_dif.errors }}
                            {{ form.questions_dif }}
                        </div>
                        <div>
                            <label for="id_classGroup">Class Group:</label>
                            {{ form.classGroup.errors }}
                            {{ form.classGroup }}
                        </div>
                    </div>
                
                    <button type="submit">Create Test</button>
                </form>
            </section>
        </main>        
    </div>
    <footer>
        <p>&copy; 2024 AUEB LMS</p>
    </footer>

    <script>
    </script>
</body>
</html>