{% extends 'core/stud_base.html' %}

{% block title %}{{ test.test_name }} - Test{% endblock %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/completeTest_style.css' %}">
{% endblock %}
{% block content %}
            <section class="complete-test">
                <h1>{{ test.test_name }}</h1>
                <form action="{% url 'submitTest' test_gid=test.gid %}" method="post">
                    {% csrf_token %}
                    {% for question in questions %}
                        <div class="question">
                            <h2>
                                {% if question.question_type == "Fill in Blanks" %}
                                    {% for part in question.parts %}
                                        {{ part }}
                                        {% if not forloop.last %}
                                            <input type="text" name="{{ question.gid }}-{{ forloop.counter }}" class="fill-blank-input" placeholder="Fill in the blank">
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {{ question.question_text }}
                                {% endif %}
                            </h2>
                            <h3>Weight (0-1): {{ question.question_weight }}</h3>
                            <ul>
                                {% if question.question_type == "Text" %}
                                <!-- Display a blank text box for Text answer type questions -->
                                <li>
                                    <input type="text" name="{{ question.gid }}" placeholder="Enter your answer here" class="text-answer-box">
                                </li>
                                {% elif question.question_type == "Single Choice" %}
                                    <!-- Display radio buttons for multiple choice questions -->
                                    {% for attribute in question.attributes %}
                                        <li>
                                            <input type="radio" name="{{ question.gid }}" value="{{ attribute.gid }}" id="{{ attribute.gid }}">
                                            <label for="{{ attribute.gid }}">{{ attribute.answer_text }}</label>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    {% endfor %}
                    <button type="submit" class="submit-button">Submit Test</button>
                </form>
            </section>
{% endblock %}
