{% extends 'core/base.html' %}

{% block title %}My Test Questions{% endblock %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/my_questions_types_style.css' %}">
{% endblock %}
{% block content %}
            <div class="add-question-container">
                <button class="add-question-button" onclick="location.href='/questions/add/'">
                    <i class="fas fa-plus"></i> Add a question
                </button>
            </div>
            <section class="question-types">
                <h1>My Test Questions</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Questions Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for type in question_types %}
                            <tr>
                                <td><a href="{% url 'questions_by_type' type %}">{{ type }}</a></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">No test questions available.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
{% endblock %}