{% extends 'core/base.html' %}

{% block title %}Welcome to AUEB LMS{% endblock %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/prof_portfolio_style.css' %}">
{% endblock %}
{% block content %}            <div class="add-test-container">
                <button class="add-test-button" onclick="location.href='/tests/add/'">
                    <i class="fas fa-plus"></i> Add a new Test
                </button>
            </div>
            <section class="test-scores">
                <h1>My Tests</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Test Name</th>
                            <th>Classgroup Average Score</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for test in tests_info %}
                            <tr>
                                <td><a href="/tests/view/{{ test.gid }}">{{ test.name }}</a></td>
                                <td>{{ test.average|floatformat:2 }}</td>
                                <td>{{ test.date|date:"d/m/Y" }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">No test scores available.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
{% endblock %}
