{% extends 'core/base.html' %}

{% block title %}User Profile{% endblock %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/prof_profile_style.css' %}">
{% endblock %}
{% block content %}
            <section class="profile-header">
                <h1>{{ full_name }}</h1>
                <h2>{{ username }}</h2>
            </section>
            <section class="personal-info">
                <h3>Personal Information</h3>
                <p><strong>Email:</strong> {{ email }}</p>
                <p><strong>Department:</strong> {{ department }}</p>
                <p><strong>Professor ID:</strong> {{ professorID }}</p>
            </section>
            <section class="delete-user">
                <form method="POST" action="{% url 'delete_user' %}">
                    {% csrf_token %}
                    <button type="submit" class="delete-button">Delete Account</button>
                </form>
            </section>
{% endblock %}
