{% extends 'core/base.html' %}

{% block title %}My Test Questions{% endblock %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/questions_by_type_style.css' %}">
{% endblock %}
{% block content %}            
            <section class="my_questions">
                <h1>My Test Questions</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Correct Answer</th>
                            <th>Difficulty</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for question in questions_info %}
                            <tr>
                                <td><a href="/questions/view/{{ question.type }}/{{ question.gid }}/">{{ question.question }}</a></td>
                                <td>{{ question.rightanswer }}</td>
                                <td>{{ question.difficulty }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">No test questions available.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
{% endblock %}