{% extends 'core/stud_base.html' %}

{% block title %}Welcome to AUEB LMS{% endblock %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/stu_portfolio_style.css' %}">
{% endblock %}
{% block content %}
            <section class="test-scores">
                <h1>My Tests</h1>
                <!-- Search Bar -->
                <div class="search-container">
                    <input type="text" id="test-search" placeholder="Search tests by keywords..." />
                    <button id="search-btn" type="button">Search</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Test Name</th>
                            <th>Score</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for test in tests_info %}
                            <tr>
                                <td><a href="{% url 'completed_test' test.completed_test_gid %}">{{ test.name }}</a></td>
                                <td>{{ test.score|floatformat:2 }}</td>
                                <td>{{ test.date|date:"d/m/Y" }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">No test scores available.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
{% endblock %}