<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/stud_base_style.css' %}">
    {% block extra_styles %}{% endblock %}
</head>
<body>
    <!-- Header -->
    {% include 'core/stud_header.html' %}

    <div class="main-container">
        <!-- Aside -->
        {% include 'core/stud_aside.html' %}

        <!-- Main Content -->
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>

    <!-- Footer -->
    {% include 'core/stud_footer.html' %}
</body>
{% block extra_scripts %}{% endblock %}
</html>
