{% extends 'core/base.html' %}

{% block title %}{{ test_name }} - Test{% endblock %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/test_analysis_style.css' %}">
{% endblock %}
{% block content %}
            <section class="test">
                <h1>{{ test_name }}</h1>
                <p>Created at: {{ createdAt|date:"d/m/Y" }}</p>
                
                {% for question in questions_info %}
                    <div class="question">
                        <h2>{{ question.question_text }}</h2>
                        <h3>Weight (0-1): {{ question.question_weight }}</h3>
                        <ul>
                            {% if question.question_type == 'Multiple Choice' %}
                                {% for attribute in question.correct_answers %}
                                    <li>
                                        <input 
                                            type="radio" 
                                            disabled checked>
                                        <label class="{% if attribute.is_correct %}correct-attribute{% endif %}">
                                            {{ attribute }}
                                        </label>
                                    </li>
                                {% endfor %}
                            {% endif %}  
                            {% for attribute in question.attributes %}
                                <li>
                                    {% if question.question_type == "Text" %}
                                        {% for attribute in question.attributes %}
                                            <input type="text" value="{{ attribute.answer_text }}" disabled>
                                        {% endfor %}
                                    {% else %}
                                        <input type="radio" {% if attribute.rightAnswer == attribute.answer_text %}checked{% endif %} disabled>
                                        <label>{{ attribute.answer_text }}</label>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </section>
{% endblock %}
