{% extends 'core/base.html' %}

{% block title %}Test Scores - {{ class_group_name }} - {{ test_name }}{% endblock %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/viewTestResults_style.css' %}">
{% endblock %}
{% block content %}
            <h1>Results for {{ class_group_name }} - {{ test_name }}</h1>
            <table>
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Registration Number</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in test_results %}
                    <tr>
                        <td>{{ result.student_name }}</td>
                        <td>{{ result.reg_number }}</td>
                        <td>{{ result.score }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No completed tests available.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock %}