{% extends 'core/base.html' %}

{% block title %}My Student Grades Overview{% endblock %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/prof_grades_style.css' %}">
{% endblock %}
{% block content %}
            <h1>Class Groups Overview</h1>
            <table>
                <thead>
                    <tr>
                        <th>Class Name</th>
                        <th>Average Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for class_group in class_group_averages %}
                    <tr>
                        <td><a href="{% url 'viewClassGroupTestTypeAverages' class_group.class_group_id %}">{{ class_group.class_name }}</a></td>
                        <td>{{ class_group.average_score }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock %}
