{% extends 'core/base.html' %}

{% block title %}Test Averages - {{ class_group_name }} - {{ test_type }}{% endblock %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/viewClassGroupTest_style.css' %}">
{% endblock %}
{% block content %}
            <h1>Average Grades for {{ class_group_name }} - {{ test_type }}</h1>
            <table>
                <thead>
                    <tr>
                        <th>Test name</th>
                        <th>Average Score</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for test in test_averages %}
                    <tr>
                        <td><a href="/professor-grades/{{ class_group_gid }}/{{ test_type }}/{{ test.test_gid }}">{{ test.test_name }}</a></td>
                        <td>{{ test.average_score }}</td>
                        <td>{{ test.date|date:"d/m/Y" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock %}