{% extends 'core/base.html' %}

{% block title %}Test Averages - {{ class_group_name }} - {{ test_type }}{% endblock %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/viewClassGroupTestType_style.css' %}">
{% endblock %}
{% block content %}
            <h1>Average Grades for {{ class_group_name }}</h1>
            <table>
                <thead>
                    <tr>
                        <th>Test Type</th>
                        <th>Average Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for test_type in test_type_averages %}
                    <tr>
                        <td><a href="/professor-grades/{{ class_group_id }}/{{test_type.test_type}}/">{{ test_type.test_type }}</a></td>
                        <td>{{ test_type.average_score }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock %}
